.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg:  var(--text-color-light);;
}

.navbar-brand{
    
    font-size: 40px;
    font-weight: bold;
    font-family: fantasy;
    color:var(--title-color);
    cursor: pointer;

  }

  .navbar-brand:hover{
    color: var( --text-color-alt);
  }

#header-img{
    
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* background-color: var(--text-color-light); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    rotate: 1deg;
    scale: 1.01;
    cursor: pointer;
    transition: var(-transition);
}

.nav-link{
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var( --title-color);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.nav-link:hover{
    color: var(--text-color-light);
}

#activelink{
    font-weight:500;
    color:var(--text-color-alt);
}


.nav-item{
    
    padding: 0px 10px;
}



.header-button{
    font-size: 1.2rem;
  /* margin-left: 20px; */

}

.current-name{
    color: var(--text-color-alt);
 font-family:fantasy;
 font-weight: 800;
 /* font-size: 15PX; */
    
}