
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .feature-info{
    color: bisque;
  }

  .feature-container{
 position: relative;
  }

  .feature-box{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }

  .feature-img{
    background:burlywood;
  }
.feature-info{
 margin-top: 8px;
 margin-bottom: 20px;
}
