#Search{
   
    color: aliceblue;
    position: absolute;
    
}

.search-input{
    width: 400px;
}

.search-container{
    background-color: red;
 padding: 20px;
 display: block;
}

.search-title{
     font-size: 50px;
    text-align: center;
    color: var(--text-color);
}

.bookfound{
  
    display: block;
    color :var(--first-color);
    background-color: bisque;
}

.search-img{
    width: 50px;
    height: 50px;
}