#Search{
   
    color: aliceblue;
    position: absolute;
    
}

.search-container{
 padding: 20px;
 display: flex;
}

.search-title{
     font-size: 50px;
    text-align: center;
    color: var(--text-color);
}

