/* .App{
    height: 100vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

/* .books{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.book{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:center ;
}

img{
    height: 300px;
    width: 200px;
    object-fit: cover;
    background-color:#ABC4AA;
} */




/* css Eexperi */

/* css experi */

#books{
    display: flex;
    gap:10px;
    }

.main {
    max-width: 1200px;
    margin: 0 auto;
  }
.cards {

    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
  }

  .card{
  
    align-items: center;
    justify-content: center;
    text-align: center;
  height: 500px;
  width: 410px;
}

.books-img{
    padding: 20px;
    height: 300px;
    width: 200px;
    
    
}


.cards_item{

    background:var(--first-color);
   box-shadow: 2px 2px 4px #463737;
    margin: 20px ;
    border-radius:10px;
    transition: var(-transition);
    margin: 10px;

 }
 
 .cards_item:hover{
     border:1px solid var(--first-color-2nd);
     background: transparent;
 }
 
   .card-title {
     margin: 1.2rem 0;
     font-size: 20px;
     font-family:var(--body-font);
     font-weight: 700;
     color: var(--title-color);
     cursor: pointer;
     text-decoration: none;
     text-align: left;
   }
  
 
 .card-author{
     font-size: 16px;
     color: var( --text-color-light);
     font-weight:medium; 
     text-align: left;
   
 }
 .card-author:hover{
     color:teal;
 }
 
 
 .card-price{
    margin-top: -10px;
    font-size: 16px;
    font-weight:medium; 
    text-align: left;
    color:grey;
 }
 
 
 .link{
     outline: none;
     color: transparent;
 }
.delete-btn{
    background:salmon;
    background-image: -webkit-linear-gradient(top,salmon,#f08080 );
    background-image: -moz-linear-gradient(top,salmon,#f08080 );
    background-image: -ms-linear-gradient(top,salmon ,#f08080 );
    background-image: -o-linear-gradient(top,salmon,#f08080);
    background-image: linear-gradient(to bottom,salmon, #f08080);
    /* -webkit-border-radius: 28;
    -moz-border-radius: 28; */
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 500;
    color: #ffff;
    font-size: 18px;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    border: none;
    cursor: pointer;
    
    
    }
    
    .delete-btn:hover {
    background:white;
    transform: translateY(-0.2rem);
    /* background-image: -webkit-linear-gradient(top,plum,#FAF1E4);
    background-image: -moz-linear-gradient(top, plum,#FAF1E4);
    background-image: -ms-linear-gradient(top, plum, #FAF1E4);
    background-image: -o-linear-gradient(top,plum, #FAF1E4);
    background-image: linear-gradient(to bottom,plum, #FAF1E4); */
    text-decoration: none;
    color: salmon;
    }


   
    
    .update-btn{
        background:teal;
        /* background-image: -webkit-linear-gradient(top,teal,#f08080 );
        background-image: -moz-linear-gradient(top,teal,#f08080 );
        background-image: -ms-linear-gradient(top,teal ,#f08080 );
        background-image: -o-linear-gradient(top,teal,#f08080);
        background-image: linear-gradient(to bottom,teal, #f08080); */
        /* -webkit-border-radius: 28;
        -moz-border-radius: 28; */
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-weight: 500;
        color: #ffff;
        font-size: 18px;
        padding: 15px;
        text-decoration: none;
        display: inline-block;
        width: fit-content;
        border: none;
        cursor: pointer;
        
        
        }
        
        .update-btn:hover {
        background:white;
        transform: translateY(-0.2rem);
        /* background-image: -webkit-linear-gradient(top,plum,#FAF1E4);
        background-image: -moz-linear-gradient(top, plum,#FAF1E4);
        background-image: -ms-linear-gradient(top, plum, #FAF1E4);
        background-image: -o-linear-gradient(top,plum, #FAF1E4);
        background-image: linear-gradient(to bottom,plum, #FAF1E4); */
        text-decoration: none;
        color: teal;
        }
    