body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:thistle;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button{
  background:var(indigo);
  background-image: -webkit-linear-gradient(top,var(indigo),#f08080 );
  background-image: -moz-linear-gradient(top,var(indigo),#f08080 );
  background-image: -ms-linear-gradient(top,var(indigo) ,#f08080 );
  background-image: -o-linear-gradient(top,var(indigo),#f08080);
  background-image: linear-gradient(to bottom,var(indigo), #f08080);
  /* -webkit-border-radius: 28;
  -moz-border-radius: 28; */
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 500;
  color: #ffff;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  
  
  }
  
  .button:hover {
  background:plum;
  transform: translateY(-0.5rem);
  background-image: -webkit-linear-gradient(top,plum,#FAF1E4);
  background-image: -moz-linear-gradient(top, plum,#FAF1E4);
  background-image: -ms-linear-gradient(top, plum, #FAF1E4);
  background-image: -o-linear-gradient(top,plum, #FAF1E4);
  background-image: linear-gradient(to bottom,plum, #FAF1E4);
  text-decoration: none;
  color: #435334;
  }
  
  